<!DOCTYPE html>
<html>
  <head>
    <title>vista eventos </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//unpkg.com/alpinejs" defer></script>
  </head>
  <body>
      
  
  <style>

    .contenidoo{
        
        width:80%;
        
        margin:auto;
        
    }

    .otross{
      
      width: 100%!important;
      background: rgb(225, 211, 211);
        padding-top: 15px ;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 35px;
    }
    .colorboton{
            background:rgba(182, 7, 7, 0.72); 
            border-radius: 8px!important;
        }

    </style>
<% if(data.length) { %>
            <div class="contenidoo flex  ">
           
                <div class="otross mx-auto ">
                  
                    <% for(var i = 0; i< data.length; i++) { %>
                        <div class="mb-5">
                          <label
                            for="name"
                            class="mb-3 block text-base font-medium text-[#07074D]"
                          >
                          Nombre Completo
                          </label>
                          <input
                          
                            type="name"
                            name="name"
                            id="name"
                            placeholder="<%= data[i].nombre %>"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                          />
                          <%= data[i].nombre %>
                        </div>
                        <div class="mb-5">
                          <label
                            for="DNI"
                            class="mb-3 block text-base font-medium text-[#07074D]"
                          >
                           Numero de "DNI"
                          </label>
                          <input
                            type="number"
                            name="number"
                            id="number"
                            placeholder="<%= data[i].dni %>"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                          />
                          <%= data[i].dni %>
                        </div>
                        <div class="mb-5">
                          <label
                            for="name"
                            class="mb-3 block text-base font-medium text-[#07074D]"
                          >
                           telefono
                          </label>
                          <input
                            type="number"
                            name="number"
                            id="number"
                            placeholder=" <%= data[i].telefono %>"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                          />
                          <%= data[i].telefono %>
                        </div>
                        <div class="mb-5">
                          <label
                            for="name"
                            class="mb-3 block text-base font-medium text-[#07074D]"
                          >
                           Nombre del evento
                          </label>
                          <input
                          
                            type="text"
                            name="Name"
                            id="name"
                            placeholder="<%= data[i].evento %>"
                            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                            
                            
                            />
                            <%= data[i].evento %>
                        </div>
                    <div class="mb-5">
                      <label
                        for="email"
                        class="mb-3 block text-base font-medium text-[#07074D]"
                      >
                        Direccion de correo Electronico
                      </label>
                      <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="<%= data[i].correo %>"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        
                      />
                      <%= data[i].correo %>
                    </div>
                    <div class="mb-5">
                      <label
                        for="subject"
                        class="mb-3 block text-base font-medium text-[#07074D]"
                      >
                        Domicilio "opcional"
                      </label>
                      <input
                        type="text"
                        name="subject"
                        id="subject"
                        placeholder="<%= data[i].domicilio %>"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                      />
                      <%= data[i].domicilio %>
                    </div>
                   <!-- <div class="mb-5">
                      <label
                        for="message"
                        class="mb-3 block text-base font-medium text-[#07074D]"
                      >
                        Mensaje
                      </label>
                      <textarea
                        rows="4"
                        name="message"
                        id="message"
                        placeholder="Type your message"
                        class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                      ></textarea>
                    </div> -->
                    <% } %>
                  
           <div class="subirarchivo">
                    <label
                    for="subject"
                    class="mb-3 block text-base font-medium text-[#07074D]"
                  >
                    Subir Comprobante de pago"
                  </label>
                    <div class="ui segment">
                  <div class="field">
                    <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
                    <label class=" text-[#07074D] " for="#elegir">Elige el archivo a subir: </label>
                    <input class="hover:shadow-form rounded-md  py-3 px-8 text-base font-semibold text-[#07074D] outline-none" id="elegir" name="uploadedfile" type="file" /><br />
                  <!--  <input type="submit" class="ui blue inline button" value="Subir archivo" />  -->
                      </div>
                  </div>
          </div>
          <% } %>
        
          <% if(!data.length) { %>
            <p class="text-center">No se encontraron registros</p>
        <% } %>
        
                    <div>
                      
                    <a href="/main"
                     class="colorboton hover:shadow-form rounded-md py-3 px-8 text-base font-semibold text-white outline-none "
                      >
                    Inscribirse 
                    </a>
                    </div>
                  </form>
                </div>
              </div>
                  
            </body>
            </html>
        